<div class="content-wrapper">
  <br><br><br>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Aluno Detalhes</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Sistema de Gerenciamento Universitário</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="example-container mat-elevation-z8">
              <div class="example-loading-shade"
                   *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              </div>
              <div class="button-row">
                <button mat-flat-button color="primary" [routerLink]="['/alunos']"><mat-icon>chevron_left</mat-icon> Voltar</button>
              </div>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title><h2>{{aluno.nome}}</h2></mat-card-title>
                  <mat-card-subtitle>CPF: {{aluno.cpf}}</mat-card-subtitle>
                  <mat-card-subtitle>Endereço: {{aluno.endereco}}</mat-card-subtitle>
                  <mat-card-subtitle>CEP: {{aluno.cep}}</mat-card-subtitle>
                  <mat-card-subtitle>Email: {{aluno.email}}</mat-card-subtitle>
                  <mat-card-subtitle>Telefone: {{aluno.telefone}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <dl>
                  <dt>Curso:</dt>
                    <dd>{{aluno.curso}}</dd>
                    <dt>Matrícula:</dt>
                    <dd>{{aluno.matricula}}</dd>
                  </dl>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-flat-button color="primary" class="teste" [routerLink]="['/aluno-editar', aluno.id]"><mat-icon>edit</mat-icon> Editar</button>
                  <button mat-flat-button color="warn" (click)="deleteAluno(aluno.id)"><mat-icon>delete</mat-icon> Excluir</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>