<div>
    <h3>Adicionar Novo Curso</h3>
  </div>
  <form class="example-container" [formGroup]="cursoForm" (ngSubmit)="addCurso(cursoForm.value)">
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome do Curso" formControlName="nome">
    </mat-form-field>
    <mat-form-field>
      <textarea  matInput name="codigo" placeholder="Código do Curso" formControlName="codigo"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="cargaHoraria" placeholder="Carga Horária do Curso" formControlName="cargaHoraria">
    </mat-form-field>
  
    <button type="submit" [disabled]="!cursoForm.valid" mat-button color="primary" >Adicionar</button>
  </form>