<div class="content-wrapper">
    <br><br><br>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Relatórios</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Sistema de Gerenciamento Universitário</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Cursos</h3>
              </div>
              <div class="card-body p-0">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Data do Registro</th>
                      <th>Carga Horária</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let curso of cursos">
                      <td>{{curso.id}}</td>
                      <td>{{curso.codigo}}</td>
                      <td>{{curso.nome}}</td>
                      <td>{{curso.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                      <td>{{curso.cargaHoraria}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card">
              <button mat-flat-button color="primary" class="teste" (click)="exportCoursesAsXLSX()"><mat-icon>archive</mat-icon> Exportar Excel</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Alunos</h3>
              </div>
              <div class="card-body p-0">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Nome</th>
                      <th>Matrícula</th>
                      <th>Curso</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let aluno of alunos">
                      <td>{{aluno.id}}</td>
                      <td>{{aluno.nome}}</td>
                      <td>{{aluno.matricula}}</td>
                      <td>{{aluno.curso.nome}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card">
              <button mat-flat-button color="primary" class="teste" (click)="exportStudentsAsXLSX()"><mat-icon>archive</mat-icon> Exportar Excel</button>
            </div>
          </div>
        </div>
        <br><br><br><br>
      </div>
    </section>
  </div>
